{%extends 'body.html'%}
{%block title%}Contactos{%endblock%}
{%block left_panel%}
<table class="table table-striped">
	<tr>
		<th>Label</th>
		<th>informaci&oacute;n</th>
	</tr>
		<tr>
			<td>Nombre:</td>
			<td>{{ contacto.nombre }} {{ contacto.apellidoP }} {{ contacto.apellidoM }}</td>
		</tr>
		<tr>
			<td>Cargo:</td>
			<td>{{ contacto.cargo }}</td>
		</tr>
			{% for tel in telefono %}
		<tr>
			<td>Telefono {{forloop.counter}}:</td>
			<td>
			{%if tel.lada != None%}
			({{tel.lada}})
			{%endif%}
			{{ tel.numero}}

			{%if tel.extencion != None %}
				ext:{{tel.extencion}}
			{%endif%}
			
			</td>
		</tr>
		{% endfor %}
		<tr>
			<td>e-mail:</td>
			<td>{{ contacto.email }}</td>
		</tr>
		<tr>
			<td>Instituci&oacute;n:</td>
			<td><a href="{% url 'institutionpage' contacto.institucion.id_Institucion %}">{{ contacto.institucion }}</a></td>
		</tr>
</table>
{%endblock%}

{%block right_panel%}
<span class="glyphicon glyphicon-user" style="padding-left:42%; font-size: 5em;"></span>

{# comentarios #}
{{formcomment}}

{%endblock%}
