{%extends 'base.html'%}
{% load staticfiles %}
{%block title%}Inicio{%endblock%}
{%block content%}

<div id="f-Index">
	<div class="jumbotron text-center" style="background: rgba(151, 154, 154, 0.6)">
		<h1 style="font-family: 'Pacifico', cursive;">Inicio</h1>
	</div>

	<div class="container-fluid">
		<div class="row" align="center">
			<div class="col-sm-5 col-sm-offset-1">
				<div class="well I-witdth" style="background-color:rgba(255,0,0,0.6)">
					<a href="{% url 'institucionform' %}">
						<div class="user-card text-center">
							<img src="{% static "images/Institucion.png" %}" alt="Users" class=" img-card ">
							<h2 class="site-h2">Instituciones</h2>
						</div>
					</a>
				</div>
			</div>
			<div class="col-sm-5">
				<div class="well I-witdth" style="background-color:rgba(0,0,255,0.6)">
					<a href="{% url 'contactform' %}">
						<div class="user-card text-center">
							<img src="{% static "images/Users.png" %}" alt="Users" class=" img-card ">
							<h2 class="site-h2">Contactos</h2>
						</div>
					</a>
				</div>
			</div>
		</div>
		<div class="row" align="center">
			<div class="col-sm-5 col-sm-offset-1">
				<div class="well I-witdth" style="background-color:rgba(241,196,15,0.6)">
					<a href="{% url 'courseform' %}">
						<div class="user-card text-center">
							<img src="{% static "images/Courses.png" %}" alt="Users" class=" img-card ">
							<h2 class="site-h2">Cursos</h2>
						</div>
					</a>
				</div>
			</div>
			<div class="col-sm-5">
				<div class="well I-witdth" style="background-color: rgba(0,255,0,0.6)"> 
					<a href="{% url 'institucionform' %}">
						<div class="user-card text-center">
							<img src="{% static "images/Inventory2.png" %}" alt="Users" class=" img-card ">
							<h2 class="site-h2">Inventario</h2>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>

</div>

{%endblock%}
