{%extends 'base.html'%}
{%block title%}Registra un Pedido{%endblock%}
{%block content%}


<button href="#form" class="btn btn-default" data-toggle="collapse">
    Agregar
</button>
<div id="form" class="collapse">
  <form action="#" method="post">
    <table class="table">
      {{forminventory.as_table}}
    </table>
    <input type="submit" value="Inventario">
    {% csrf_token %}
  </form>

</div>

    <table class="table table-bordered">
    <thead>
    	<th>Generaci&oacute;n</th>
    	<th>Existencias</th>
    </thead>
    <tbody>
    	{% for silla in inventory %}
    	<tr>
    		<td>{{ silla.generacion }}</td>
    		<td>{{ silla.existencias }}</td>
    	</tr>
    	{% endfor %}
    </tbody>
    </table>

{%endblock%}
